; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:common #include "bob/common.edn"
 :bob/storage #ref [:common :bob/storage-conn]
 :entities/queue-config {:database #ig/ref :bob/storage
                         :queue #ref [:common :bob/queue-conf]}
 :bob/queue {:url #ref [:common :bob/queue-conn :url]
             :user #ref [:common :bob/queue-conn :user]
             :password #ref [:common :bob/queue-conn :password]
             :conf #ig/ref :entities/queue-config}}
