; Copyright 2018-2022 Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:commom            #include "bob/common.edn"
 :bob/storage           #ref [:commom :bob/storage-conn]
 :entities/queue-config {:database #ig/ref :bob/storage}
 :bob/queue             {:url      #ref [:commom :bob/queue-conn :url]
                         :user     #ref [:commom :bob/queue-conn :user]
                         :password #ref [:commom :bob/queue-conn :password]
                         :conf     #ig/ref :entities/queue-config}}
