; Copyright 2018-2021 Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.3"}
           com.fzakaria/slf4j-timbre    {:mvn/version "0.3.21"}
           com.stuartsierra/component   {:mvn/version "1.0.0"}
           com.taoensso/timbre          {:mvn/version "5.1.2"}
           failjure/failjure            {:mvn/version "2.2.0"}
           java-http-clj/java-http-clj  {:mvn/version "0.4.3"}
           com.xtdb/xtdb-core           {:mvn/version "1.20.0"}
           metosin/reitit-core          {:mvn/version "0.5.15"}
           metosin/reitit-http          {:mvn/version "0.5.15"}
           metosin/reitit-interceptors  {:mvn/version "0.5.15"}
           metosin/reitit-malli         {:mvn/version "0.5.15"}
           metosin/reitit-ring          {:mvn/version "0.5.15"}
           metosin/reitit-sieppari      {:mvn/version "0.5.15"}
           metosin/muuntaja             {:mvn/version "0.6.8"}
           ring/ring-jetty-adapter      {:mvn/version "1.9.4"}
           clj-commons/iapetos          {:mvn/version "0.1.12"}
           org.clojars.lispyclouds/navi {:mvn/version "0.0.2"}
           org.clojure/data.xml         {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.json        {:mvn/version "2.4.0"}
           common/common                {:local/root "../common"}}
 :aliases {:test  {:extra-deps {lambdaisland/kaocha               {:mvn/version "1.60.977"}
                                org.clojure/test.check            {:mvn/version "1.1.1"}
                                com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}}
                   :main-opts  ["-m" "kaocha.runner"]}
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
                   :ns-default build}}}
