; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:paths ["src" "resources"]
 :deps {aero/aero {:mvn/version "1.1.6"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.6"}
        com.s-exp/hirundo {:mvn/version "0.1.35"}
        com.xtdb/xtdb-core {:mvn/version "1.24.3"}
        common/common {:local/root "../common"}
        failjure/failjure {:mvn/version "2.3.0"}
        integrant/integrant {:mvn/version "0.9.0"}
        io.github.HealthSamurai/prometheus.clj {:git/sha "da2265539b1e65ac5b6d3a570f9f12a95b54361f"}
        io.github.lispyclouds/navi {:git/sha "7ad64ac64712f725b6d1e4cc11387c42dfeb1168"}
        metosin/muuntaja {:mvn/version "0.6.10"}
        metosin/reitit-core {:mvn/version "0.7.0"}
        metosin/reitit-http {:mvn/version "0.7.0"}
        metosin/reitit-interceptors {:mvn/version "0.7.0"}
        metosin/reitit-malli {:mvn/version "0.7.0"}
        metosin/reitit-ring {:mvn/version "0.7.0"}
        metosin/reitit-sieppari {:mvn/version "0.7.0"}
        org.babashka/http-client {:mvn/version "0.4.19"}
        org.clojure/clojure {:mvn/version "1.11.3"} ; TODO: Bump to 1.12+ with https://github.com/xtdb/xtdb/issues/3169
        org.clojure/data.json {:mvn/version "2.5.0"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}}
 :aliases {:test {:extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
                               lambdaisland/kaocha {:mvn/version "1.88.1376"}
                               org.clojure/test.check {:mvn/version "1.1.1"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]
                  :jvm-opts ["--enable-preview"]}
           :repl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}
                               cider/cider-nrepl {:mvn/version "RELEASE"}}
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]
                  :jvm-opts ["--enable-preview"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.3" :git/sha "15ead66"}}
                   :ns-default build}}}
