; Copyright 2018-2022 Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:bob/connection-retry-attempts #or [#env BOB_CONNECTION_RETRY_ATTEMPTS 10]
 :bob/connection-retry-delay    #or [#env BOB_CONNECTION_RETRY_DELAY 2000]}
