; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:bob/storage-conn {:url #or [#env BOB_STORAGE_URL "jdbc:postgresql://localhost:5432/bob"]
                    :user #or [#env BOB_STORAGE_USER "bob"]
                    :password #or [#env BOB_STORAGE_PASSWORD "bob"]}
 :bob/queue-conn {:url #or [#env BOB_QUEUE_URL "amqp://localhost:5672"]
                  :user #or [#env BOB_QUEUE_USER "guest"]
                  :password #or [#env BOB_QUEUE_PASSWORD "guest"]}
 :bob/queue-conf {:exchanges {"bob.direct" {:type "direct"
                                            :durable true}
                              "bob.fanout" {:type "fanout"
                                            :durable true}}
                  :queues {"bob.errors" {}
                           "bob.events" {}}}
 :bob/stream-conf {:name #or [#env BOB_STREAM_NAME "bob.event-stream"]
                   :url #or [#env BOB_STREAM_URL "rabbitmq-stream://guest:guest@localhost:5552/%2f"]
                   :retention-days #long #or [#env BOB_STREAM_RETENTION_DAYS 7]}
 :bob/connection-retry-attempts #long #or [#env BOB_CONNECTION_RETRY_ATTEMPTS 10]
 :bob/connection-retry-delay #long #or [#env BOB_CONNECTION_RETRY_DELAY 2000]}
