; Copyright 2018-2021 Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:min-bb-version "0.4.0"

 :tasks {docker-clean {:doc  "Cleans up cluster containers"
                       :task (do
                               (shell {:continue true} "docker kill bob-test-storage bob-test-queue")
                               (shell {:continue true} "docker rm bob-test-storage bob-test-queue")
                               (shell {:continue true} "docker network rm bob-net")
                               (shell {:continue true} "docker volume prune -f"))}
         prep         {:doc "Prepares the deps"
                       :task (do (shell "clojure -P -A:build")
                                 (shell "clojure -P -M -A:test")
                                 (shell "clojure -P"))}
         test         {:doc  "Sets up the cluster and runs tests"
                       :task (do
                               (try
                                 (run 'docker-clean)
                                 (shell {:continue true} "docker network create bob-net")
                                 (shell "docker run
                                   -d
                                   --name bob-test-storage
                                   -p 5433:5432
                                   -e POSTGRES_DB=bob-test
                                   -e POSTGRES_USER=bob
                                   -e POSTGRES_PASSWORD=bob
                                   --network bob-net
                                   postgres:alpine")
                                 (shell "docker run
                                   -d
                                   --name bob-test-queue
                                   -p 5673:5672
                                   --network bob-net
                                   rabbitmq:3-alpine")
                                 (load-file "tasks/wait.clj")
                                 (shell "clojure -M:test")
                                 (finally
                                   (run 'docker-clean))))}
         compile      {:doc  "Builds the compiled artifact"
                       :task (shell "clojure -T:build uber")}
         image        {:doc  "Builds the docker image"
                       :task (shell "docker build -t ghcr.io/bob-cd/entities .")}
         push         {:doc  "Pushes the docker image"
                       :task (shell "docker push ghcr.io/bob-cd/entities")}
         clean        {:doc  "Cleans up"
                       :task (do
                               (shell "clojure -T:build clean")
                               (shell "rm -rf .cpcache")
                               (shell {:continue true} "docker rmi ghcr.io/bob-cd/entities"))}}}
