;   This file is part of Bob.
;
;   Bob is free software: you can redistribute it and/or modify
;   it under the terms of the GNU Affero General Public License as published by
;   the Free Software Foundation, either version 3 of the License, or
;   (at your option) any later version.
;
;   Bob is distributed in the hope that it will be useful,
;   but WITHOUT ANY WARRANTY; without even the implied warranty of
;   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
;   GNU Affero General Public License for more details.
;
;   You should have received a copy of the GNU Affero General Public License
;   along with Bob. If not, see <http://www.gnu.org/licenses/>.

{:paths   ["src"]
 :deps    {org.clojure/clojure        {:mvn/version "1.10.3"}
           com.fzakaria/slf4j-timbre  {:mvn/version "0.3.21"}
           com.stuartsierra/component {:mvn/version "1.0.0"}
           com.taoensso/timbre        {:mvn/version "5.1.2"}
           failjure/failjure          {:mvn/version "2.2.0"}
           pro.juxt.crux/crux-core    {:mvn/version "1.18.0"}
           common/common              {:local/root "../common"}}
 :aliases {:test    {:extra-deps {lambdaisland/kaocha               {:mvn/version "1.0.861"}
                                  org.clojure/test.check            {:mvn/version "1.1.0"}
                                  com.github.seancorfield/next.jdbc {:mvn/version "1.2.689"}}
                     :main-opts  ["-m" "kaocha.runner"]}
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
                     :exec-fn      hf.depstar/uberjar
                     :exec-args    {:aot        true
                                    :main-class entities.main
                                    :jar        "entities.jar"
                                    :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]}}}}
