# Copyright 2018-2022 Rahul De
#
# Use of this source code is governed by an MIT-style
# license that can be found in the LICENSE file or at
# https://opensource.org/licenses/MIT.

version: "3"

services:
  runner:
    image: ghcr.io/bob-cd/runner
    networks:
      - bob-net
    depends_on:
      - storage
      - queue
    environment:
      BOB_STORAGE_URL: jdbc:postgresql://storage:5432/bob
      BOB_QUEUE_URL: amqp://queue:5672
    devices:
      - /dev/fuse
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
      - label=disable
    cap_add: # TODO: Remove these if possible
      - sys_admin
      - mknod

  entities:
    image: ghcr.io/bob-cd/entities
    networks:
      - bob-net
    depends_on:
      - storage
      - queue
    environment:
      BOB_STORAGE_URL: jdbc:postgresql://storage:5432/bob
      BOB_QUEUE_URL: amqp://queue:5672

  apiserver:
    image: ghcr.io/bob-cd/apiserver
    ports:
      - 7777:7777
    networks:
      - bob-net
    depends_on:
      - queue
      - storage
    environment:
      BOB_STORAGE_URL: jdbc:postgresql://storage:5432/bob
      BOB_QUEUE_URL: amqp://queue:5672

  queue:
    image: rabbitmq:3-alpine
    networks:
      - bob-net
    ports:
      - 5672:5672

  storage:
    image: postgres:alpine
    networks:
      - bob-net
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: bob
      POSTGRES_USER: bob
      POSTGRES_PASSWORD: bob

  artifact:
    image: ghcr.io/bob-cd/artifact-local
    networks:
      - bob-net
    ports:
      - 8001:8001

  resource:
    image: ghcr.io/bob-cd/resource-git
    networks:
      - bob-net
    ports:
      - 8000:8000

networks:
  bob-net:
