; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:common #include "bob/common.edn"
 :bob/storage #ref [:common :bob/storage-conn]
 :bob/queue {:url #ref [:common :bob/queue-conn :url]
             :user #ref [:common :bob/queue-conn :user]
             :password #ref [:common :bob/queue-conn :password]
             :api-url #or [#env BOB_QUEUE_API_URL "http://localhost:15672/api"]
             :conf {:exchanges #ref [:common :bob/queue-conf :exchanges]
                    :queues #ref [:common :bob/queue-conf :queues]}}
 :bob/stream-env {:url #ref [:common :bob/stream-conf :url]
                  :name #ref [:common :bob/stream-conf :name]
                  :retention-days #ref [:common :bob/stream-conf :retention-days]}
 :bob/apiserver {:host #or [#env BOB_API_HOST "0.0.0.0"]
                 :port #long #or [#env BOB_API_PORT 7777]
                 :database #ig/ref :bob/storage
                 :queue #ig/ref :bob/queue
                 :stream {:name #ref [:common :bob/stream-conf :name]
                          :environment #ig/ref :bob/stream-env}}
 :bob/apiserver-heartbeat {:queue {:api-url #ref [:bob/queue :api-url]
                                   :username #ref [:common :bob/queue-conn :user]
                                   :password #ref [:common :bob/queue-conn :password]}
                           :db #ig/ref :bob/storage
                           :freq #ref [:common :bob/health-check-freq]}
 :bob/apiserver-healthcheck {:queue #ig/ref :bob/queue
                             :db #ig/ref :bob/storage
                             :freq #ref [:common :bob/health-check-freq]}}
