; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:common #include "bob/common.edn"
 :bob/node-id {:node-type "bob/apiserver"}
 :bob/storage #ref [:common :bob/storage-conn]
 :bob/stream #ref [:common :bob/stream-conf]
 :bob/queue {:url #ref [:common :bob/queue-conn :url]
             :user #ref [:common :bob/queue-conn :user]
             :password #ref [:common :bob/queue-conn :password]
             :api-url #ref [:common :bob/queue-api-url]
             :conf #ig/ref :apiserver/queue-config
             :node-id #ig/ref :bob/node-id}
 :apiserver/queue-config {:database #ig/ref :bob/storage
                          :queue #ref [:common :bob/queue-conf]
                          :stream #ig/ref :bob/stream}
 :apiserver/server {:host #or [#env BOB_API_HOST "0.0.0.0"]
                    :port #long #or [#env BOB_API_PORT 7777]
                    :database #ig/ref :bob/storage
                    :queue #ig/ref :bob/queue
                    :stream-name #ref [:common :bob/stream-conf :name]
                    :stream #ig/ref :bob/stream}
 :apiserver/heartbeat {:queue {:api-url #ref [:common :bob/queue-api-url]
                               :username #ref [:common :bob/queue-conn :user]
                               :password #ref [:common :bob/queue-conn :password]}
                       :db #ig/ref :bob/storage
                       :freq #ref [:common :bob/health-check-freq]
                       :node-id #ig/ref :bob/node-id}
 :apiserver/healthcheck {:queue #ig/ref :bob/queue
                         :db #ig/ref :bob/storage
                         :freq #ref [:common :bob/health-check-freq]}}
