; Copyright 2018-2022 Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:bob/common    #include "bob/common.edn"
 :bob/storage   #ref [:bob/common :bob/storage-conn]
 :bob/queue     {:url      #ref [:bob/common :bob/queue-conn :url]
                 :user     #ref [:bob/common :bob/queue-conn :user]
                 :password #ref [:bob/common :bob/queue-conn :password]
                 :conf     {:exchanges #ref [:bob/common :bob/exchanges]
                            :queues    #merge [#ref [:bob/common :bob/queues]
                                               {"bob.entities" {:exclusive   false
                                                                :auto-delete false
                                                                :durable     true}}]
                            :bindings {"bob.entities" "bob.direct"}}}
 :bob/apiserver {:host              #or [#env BOB_API_HOST "0.0.0.0"]
                 :port              #long #or [#env BOB_API_PORT 7777]
                 :health-check-freq #long #or [#env BOB_HEALTH_CHECK_FREQ 60000]
                 :database          #ig/ref :bob/storage
                 :queue             #ig/ref :bob/queue}}
