; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:paths ["src" "resources"]
 :deps {aero/aero {:mvn/version "1.1.6"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.20"}
        com.novemberain/langohr {:mvn/version "5.6.0"}
        com.rabbitmq/stream-client {:mvn/version "1.3.0"}
        com.taoensso/nippy {:mvn/version "3.6.0"}
        failjure/failjure {:mvn/version "2.3.0"}
        integrant/integrant {:mvn/version "1.0.1"}
        io.etcd/jetcd-core {:mvn/version "0.8.5"}
        org.babashka/http-client {:mvn/version "0.4.23"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}}}
