; Copyright 2018- Rahul De
;
; Use of this source code is governed by an MIT-style
; license that can be found in the LICENSE file or at
; https://opensource.org/licenses/MIT.

{:paths ["src" "resources"]
 :deps {aero/aero {:mvn/version "1.1.6"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.18"}
        com.rabbitmq/stream-client {:mvn/version "1.2.0"}
        com.xtdb/xtdb-core {:mvn/version "1.24.5"}
        common/common {:local/root "../common"}
        failjure/failjure {:mvn/version "2.3.0"}
        integrant/integrant {:mvn/version "0.13.1"}
        io.github.lispyclouds/contajners {:git/sha "fedf8f3257e6fe8cf2bcee5bb45fff5025804699"}
        org.babashka/http-client {:mvn/version "0.4.23"}
        org.clojure/clojure {:mvn/version "1.12.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.kamranzafar/jtar {:mvn/version "2.3"}}
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               org.clojure/test.check {:mvn/version "1.1.1"}
                               com.github.seancorfield/next.jdbc {:mvn/version "1.3.1048"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]
                  :jvm-opts ["--enable-preview"]}
           :repl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}
                               cider/cider-nrepl {:mvn/version "RELEASE"}}
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]
                  :jvm-opts ["--enable-preview"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}}
                   :ns-default build}}}
